/* Font Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: var(--preto);
}

:root {
  --branco_escuro: #e5e0df;
  --cinza: #3d3d42;
  --preto: #09090b;
}

/* Animação ao usar o Scroll */

.animacao_scroll {
  opacity: 0;
  transform: scale(90%);
  transition: 2s;
}

.animacao_scroll.visible {
  transform: scale(100%);
  opacity: 1;
  gap: 3.2rem;
  display: flex;
  flex-direction: column;
}

/* Personalizando Barra de Scroll */

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #3b3b3b;
}

body::-webkit-scrollbar-thumb {
  background-color: #3d3d42;
  border-radius: 20px;
  border: 1px solid #777676;
  transition: 1s;
}

/* Cabeçalho */

header {
  font-size: 1.8rem;
  padding: 2.6rem;
  width: 100%;
  top: 0;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.2rem;
  }

  ul {
    display: flex;
    gap: 2.2rem;
    list-style: none;
  }

  li a {
    font-size: 1.6rem;
    color: var(--branco_escuro);
    text-decoration: none;
    transition: 1s;
    display: block;
  }

  li a:hover {
    transform: translateY(-3px);
  }

  .nome_header {
    font-size: 1.6rem;
    color: var(--branco_escuro);
    text-decoration: none;
    transition: 1s;
    display: block;
  }

  .nome_header:hover {
    transform: translateX(5px);
  }
}

/* Botão Voltar */

.forma_voltar {
  width: 0px;
  height: 0px;
  border-bottom: 20px solid;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 0px solid;
}
.topo:hover {
  color: #b4adab;
  transform: translateY(-2px);
}

.topo {
  background-color: #3d3d42;
  position: fixed;
  z-index: 3;
  right: 5px;
  color: #919191;
  margin-right: 0%;
  padding: 20px;
  border-radius: 20px;
  bottom: 0;
  margin-bottom: 2%;
  text-decoration: none;
  transition: 1s;
  visibility: hidden;
  transform: translateX(20vh);
}

.topo.visible {
  visibility: visible;
  z-index: 1;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: 1s;
  transform: translateX(0%);
  z-index: 10;
}

/* Menu Hamburguer */

.menu-lateral {
  position: fixed;
  top: 0;
  left: -20rem;
  width: 20rem;
  height: 100%;
  border-radius: 0px 20px 20px 0px;
  background-color: #00000096;
  backdrop-filter: blur(15px);
  transition: all 0.5s ease-in-out;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 2;
}

.menu-lateral ul {
  list-style: none;
}

.menu-lateral a,
li {
  font-size: 1.8rem;
  margin-top: 4rem;
  margin-left: 3rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.botao-menu {
  z-index: 50;
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 5rem;
  height: 5rem;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 1s;
  display: none;
}

.botao-menu img {
  margin-top: 10%;
  width: 4rem;
  height: 4rem;
  object-fit: cover;
}

.menu-lateral.ativo {
  left: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.botao-menu.ativo {
  background-color: #ffffff85;
}

main {
  display: flex;
  flex-flow: column;

  h1 {
    text-align: center;
    color: var(--branco_escuro);
    font-weight: 200;
    font-size: 3.6rem;
  }

  /* Cartões - Comportamento */

  .cartoes_aplicativos {
    display: flex;
    flex-wrap: wrap;
    gap: 2.6rem;
    padding: 2.6rem;
    align-items: center;
    justify-content: center;
  }

  .cards {
    border: 1px solid grey;
    max-width: 40rem;
    height: 40rem;
    border-radius: 2rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 2.6rem;
    text-align: center;
  }

  .separacao {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 2.6rem;
  }

  h2 {
    font-size: 2.6rem;
    font-weight: 300;
    color: var(--branco_escuro);
  }

  p {
    font-size: 1.6rem;
    color: var(--branco_escuro);
    text-align: center;
  }

  img {
    width: 40%;
  }

  a {
    border: 1px solid white;
    text-decoration: none;
    color: white;
    padding: 1.6rem 4rem;
    font-weight: 300;
    font-size: 1.6rem;
    border-radius: 2rem;
    transition: 1s;
  }

  a:hover {
    transform: translateY(-3px);
    background-color: white;
    color: #09090b;
  }
}

/* Modo Mobile (Responsivo) */

@media (max-width: 1024px) {
  /* Barra de Navegação */
  header {
    display: none;
  }

  /* Menu Hamburguer */
  .botao-menu {
    display: block;
    top: 20;
    right: 50;
  }
}
