* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #3b3b3b;
}

body::-webkit-scrollbar-thumb {
  background-color: #3d3d42;
  border-radius: 20px;
  border: 1px solid #e5e0df;
  transition: 1s;
}

body {
  background-color: #e5e0df;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #919191;
}

html {
  scroll-behavior: smooth;
}

html {
  background-color: #e5e0df;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  width: 100%;
  padding: 60px 4%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

header ul {
  list-style-type: none;
}

header ul li {
  display: inline-block;
  margin: 0 10px;
  transition: 1s;
}

header ul li a {
  color: #000000;
  text-decoration: none;
}

header ul li:hover {
  transform: translateY(-5px);
}

.btn-nome a {
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-size: 25px;
  display: block;
  transition: 1s;
}

.nome {
  text-decoration: none;
}

.btn-nome a:hover {
  transform: translateX(5px);
}

/* Projetos */

.projetos {
  height: 150vh;
}

.titulo_projetos {
  text-align: center;
  font-size: 30px;
  padding-top: 15%;
  color: black;
  font-weight: 280;
}

.cartoes {
  align-items: center;
  justify-content: space-around;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 200px 200px 200px;
}

.card {
  padding: 30px;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card h1 {
  font-size: 30px;
  font-weight: 300;
  color: black;
  text-align: center;
  width: 400px;
}

.card p {
  font-size: 18px;
  font-weight: 250;
  width: 300px;
  font-weight: 300;
  padding: 20px;
  text-align: left;
}

.card img {
  border-radius: 20px;
  filter: brightness(100%);
  object-fit: cover;
  max-width: 250%;
  border: 2px rgba(128, 128, 128, 0.39) solid;
  height: auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;}

.botao-projeto {
  font-size: 20px;
  text-decoration: none;
  margin-top: 3%;
  font-weight: 200;
  padding: 15px;
  width: 150px;
  font-weight: 300;
  border-radius: 15px;
  border-color: white;
  border: 1px solid rgba(0, 0, 0, 0.336);
  transition: 1s;
  color: black;
  margin-top: 10%;
}

.botao-projeto:hover {
  transform: translateY(-5px);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.rodape {
  width: 100%;
  background-color: black;
  height: 15vh;
  bottom: 0;
  position: relative;
}

/* Menu Mobile  */

.menu-lateral {
  position: fixed;
  top: 0;
  left: -200px;
  width: 200px;
  height: 100%;
  border-radius: 0px 20px 20px 0px;
  background-color: #00000096;
  backdrop-filter: blur(15px);
  transition: all 0.5s ease-in-out;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 1;
}

.menu-lateral ul {
  list-style: none;
}

.menu-lateral a,
li {
  margin-top: 40px;
  margin-left: 30px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.botao-menu {
  z-index: 50;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 1s;
  display: none;
}

.botao-menu img {
  margin-top: 10%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.menu-lateral.ativo {
  left: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.botao-menu.ativo {
  background-color: #ffffff85;
}


@media only screen and (max-width: 968px) {
  header {
    display: none;
  }

  /* Apresentacao */

  section {
    height: 100vh;
    margin-top: 15px;
  }

  .nome {
    text-align: left;
    font-size: 20px;
  }

  .titulo {
    font-size: 25px;
    padding: 40px;
  }

  .subtitulo {
    font-size: 20px;
    padding: 15px;
  }

  /* Prpjetos */

  .projetos {
    background-color: #e5e0df;
  }

  .cartoes {
    display: block;
    height: 200vh;
  }

  .card img {
    width: 120%;
  }

  .sobre {
    margin-top: 140vh;
    padding-bottom: 37vh;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
  }

  .cartoes_sobre {
    display: block;
    padding: 50px;
  }

  .card_sobre h1,
  p {
    font-size: 15px;
  }

  .contatos {
    height: 120vh;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    margin-bottom: -20vh;
  }

  .experiencias {
    width: 100%;
    height: 110vh;
  }

  .experiencias img,
  .triangulos {
    display: none;
  }

  .habilidades {
    height: 100vh;
  }

  .cartoes_hab {
    display: block;
  }

  .nav-paginas {
    display: block;
  }

  .botao-menu {
    display: block;
    top: 20;
    right: 50;
  }
}
