/* Font Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: var(--branco_escuro);
}

:root {
  --branco_escuro: #e5e0df;
  --cinza: #3d3d42;
  --preto: #09090b;
}

section {
  height: 100vh;
  width: 100%;
}

/* Animação ao usar o Scroll */

.animacao_scroll {
  opacity: 0;
  transform: scale(90%);
  transition: 2s;
}

.animacao_scroll.visible {
  transform: scale(100%);
  opacity: 1;
  gap: 3.2rem;
  display: flex;
  flex-direction: column;
}

/* Personalizando Barra de Scroll */

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #3b3b3b;
}

body::-webkit-scrollbar-thumb {
  background-color: #3d3d42;
  border-radius: 20px;
  border: 1px solid #777676;
  transition: 1s;
}

/* Cabeçalho */

header {
  font-size: 1.8rem;
  padding: 2.6rem;
  position: absolute;
  width: 100%;
  top: 0;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.2rem;
  }

  ul {
    display: flex;
    gap: 2.2rem;
    list-style: none;
  }

  li a {
    font-size: 1.6rem;
    color: var(--branco_escuro);
    text-decoration: none;
    transition: 1s;
    display: block;
  }

  li a:hover {
    transform: translateY(-3px);
  }

  .nome_header {
    font-size: 1.6rem;
    color: var(--branco_escuro);
    text-decoration: none;
    transition: 1s;
    display: block;
  }

  .nome_header:hover {
    transform: translateX(5px);
  }
}

/* Home */

.home {
  background-color: bisque;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgb(0, 0, 0, 0.8)),
    url(../img/Wallpaper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #cccccc;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-flow: column;
  color: white;
  gap: 2.4rem;

  h1 {
    text-align: center;
    font-weight: 100;
    font-size: 4.8rem;
  }

  h2 {
    font-size: 2.4rem;
    font-weight: 200;
  }

  .botoes_home {
    display: flex;
    gap: 2.4rem;
  }

  a {
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0);
    border: white 1px solid;
    border-radius: 1.6rem;
    font-size: 1.6rem;
    transform: translateY(10px);
    transition: 2s;
    color: white;
    text-decoration: none;
  }

  a:hover {
    transform: translateY(-1px);
    background-color: white;
    color: #09090b;
  }
}

/* Sobre */

.sobre {
  background-color: var(--branco_escuro);
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 5rem;
  gap: 2.6rem;

  h2 {
    text-align: center;
    font-size: 3.6rem;
    font-weight: 300;
  }

  .duas_areas {
    display: flex;
    gap: 2.6rem;
    width: 100%;
  }

  .cartoes_sobre {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 2.6rem;
    width: 100%;
  }

  p {
    font-size: 1.8rem;
    font-weight: 300;
    text-align: justify;
    width: 50%;
    line-height: 4.6rem;
  }

  span {
    padding: 0.6rem;
    background-color: black;
    color: var(--branco_escuro);
  }

  img {
    width: 35rem;
    border-radius: 50%;
  }
}

/* Projetos */

.projetos {
  background-color: var(--preto);
  color: var(--branco_escuro);
  padding: 1.6rem;
  gap: 2.8rem;
  display: flex;
  flex-flow: column;
  justify-content: center;

  h2 {
    text-align: center;
    font-size: 3.6rem;
    font-weight: 300;
  }

  h3 {
    font-size: 2rem;
    font-weight: 300;
  }

  img {
    width: 80%;
    height: 28rem;
    object-fit: cover;
    border-radius: 1.6rem;
  }

  .cartoes_projetos {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
  }

  .card_projetos {
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size: 1.6rem;
    gap: 1.6rem;
    text-align: center;
    width: 30rem;
  }

  a {
    border: 1px solid white;
    text-decoration: none;
    color: white;
    padding: 1.6rem 3rem;
    font-weight: 300;
    border-radius: 2rem;
    transition: 1s;
  }

  a:hover {
    transform: translateY(-3px);
  }
}

/* Habilidades */

.habilidades {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  gap: 2.6rem;

  h2 {
    text-align: center;
    font-size: 3.6rem;
    font-weight: 300;
  }

  .cartoes_habilidades {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.6rem;
  }

  h3 {
    font-size: 2.6rem;
    font-weight: 300;
    text-align: center;
  }

  p {
    font-size: 1.6rem;
    font-weight: 300;
    text-align: justify;
  }

  .card_habilidades {
    gap: 2.8rem;
    background-color: var(--preto);
    border-radius: 2rem;
    padding: 2rem;
    color: var(--branco_escuro);
  }
}

/* Contatos */

.contatos {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  .cartao_contatos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--preto);
    border-radius: 2rem;
    padding: 15rem;
    width: 75%;
    height: 75%;
    gap: 2.6rem;
  }

  h2 {
    color: var(--branco_escuro);
    font-size: 3.6rem;
    font-weight: 300;
  }

  p {
    color: var(--branco_escuro);
    font-size: 1.6rem;
    font-weight: 300;
  }

  h3 {
    font-size: 2rem;
    color: var(--branco_escuro);
    font-weight: 300;
  }

  ul {
    list-style: none;
    display: flex;
    flex-flow: column;
    gap: 2.6rem;
  }

  li {
    font-size: 1.6rem;
    color: var(--branco_escuro);
    gap: 2.6rem;
    display: flex;
  }

  a {
    color: darkturquoise;
  }
}

/* Botão Voltar */

.forma_voltar {
  width: 0px;
  height: 0px;
  border-bottom: 20px solid;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 0px solid;
}
.topo:hover {
  color: #b4adab;
  transform: translateY(-2px);
}

.topo {
  background-color: #3d3d42;
  position: fixed;
  z-index: 3;
  right: 5px;
  color: #919191;
  margin-right: 0%;
  padding: 20px;
  border-radius: 20px;
  bottom: 5rem;
  margin-bottom: 2%;
  text-decoration: none;
  transition: 1s;
  visibility: hidden;
  transform: translateX(20vh);
}

.topo.visible {
  visibility: visible;
  z-index: 1;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: 1s;
  transform: translateX(0%);
  z-index: 10;
}

/* Menu Hamburguer */

.menu-lateral {
  position: fixed;
  top: 0;
  left: -20rem;
  width: 20rem;
  height: 100%;
  border-radius: 0px 20px 20px 0px;
  background-color: #00000096;
  backdrop-filter: blur(15px);
  transition: all 0.5s ease-in-out;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 2;
}

.menu-lateral ul {
  list-style: none;
}

.menu-lateral a,
li {
  font-size: 1.8rem;
  margin-top: 4rem;
  margin-left: 3rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.botao-menu {
  z-index: 50;
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 5rem;
  height: 5rem;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 1s;
  display: none;
}

.botao-menu img {
  margin-top: 10%;
  width: 4rem;
  height: 4rem;
  object-fit: cover;
}

.menu-lateral.ativo {
  left: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.botao-menu.ativo {
  background-color: #ffffff85;
}

/* Modo Mobile (Responsivo) */

@media (max-width: 1024px) {
  section {
    height: 100%;
  }
  /* Barra de Navegação */
  header {
    display: none;
  }

  /* Home */
  .home {
    padding: 2.6rem;
    height: 100vh;

    h2 {
      text-align: center;
      font-size: 1.7rem;
    }

    a {
      text-align: center;
    }
  }

  /* Sobre */

  .sobre {
    width: 100%;
    padding: 1.6rem;
    img {
      display: none;
    }

    .cartoes_sobre {
      text-align: center;
    }

    .cartoes_sobre div {
      width: 100%;
    }

    p {
      width: 100%;
      font-size: 1.6rem;
      text-align: justify;
      line-height: 3rem;
    }
  }

  /* Projetos */
  .projetos {
    height: 100%;
    padding: 2rem;
    .cartoes_projetos {
      display: flex;
      gap: 3.8rem;
      flex-wrap: wrap;
    }

    h3 {
      font-size: 2.6rem;
    }

    img {
      height: 30rem;
    }
  }

  /* Habilidades */
  .habilidades {
    height: 100%;
    width: 100%;
    padding: 1.6rem;

    .cartoes_habilidades {
      display: flex;
      flex-flow: column;
      padding: 0;
      width: 100%;
    }

    .card_habilidades {
      width: 100%;
      height: auto;
    }

    h3 {
      font-size: 2.8rem;
      margin: 1.6rem;
    }
  }

  /* Contatos */

  .contatos {
    width: 100%;
    height: 100%;

    .cartao_contatos {
      width: 100%;
      height: 90%;
      padding: 1.6rem;
      border-radius: 0;
    }

    h2 {
      text-align: center;
    }

    h3 {
      text-align: center;
    }

    ul {
      gap: 0rem;
    }

    li {
      gap: 1.4rem;
    }
  }

  /* Menu Hamburguer */
  .botao-menu {
    display: block;
    top: 20;
    right: 50;
  }
}

@media (min-width: 2560px) {
  html {
    font-size: 1.4rem;
  }
}
