* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #3b3b3b;
}

body::-webkit-scrollbar-thumb {
  background-color: #3d3d42;
  border-radius: 20px;
  border: 1px solid #e5e0df;
  transition: 1s;
}

body {
  background-color: #e5e0df;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #919191;
}

html {
  scroll-behavior: smooth;
}

html {
  background-color: #e5e0df;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  width: 100%;
  padding: 60px 4%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

header ul {
  list-style-type: none;
}

header ul li {
  display: inline-block;
  margin: 0 10px;
  transition: 1s;
}

header ul li a {
  color: #fff;
  text-decoration: none;
}

header ul li:hover {
  transform: translateY(-5px);
}

.btn-nome a {
  cursor: pointer;
  color: white;
  font-size: 25px;
  display: block;
  transition: 1s;
}

.nome {
  text-decoration: none;
}

.btn-nome a:hover {
  transform: translateX(5px);
}

.banner {
  height: 100vh;
  background-image: url(../img/index/wallpaper.jpg);
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.banner h1 {
  font-size: 4em;
}

.bemvindo {
  font-size: 20px;
  color: #fff;
  font-weight: 100;
  text-align: center;
}

.subtitulo {
  text-align: center;
  font-size: 25px;
  font-weight: 250;
  color: #fff;
}

.botoes {
  display: flex;
  justify-content: center;
}

.botoes a {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 25px;
  font-size: 20px;
  border-radius: 15px;
  border: solid 1px white;
  padding: 20px;
  text-decoration: none;
  font-weight: 250;
  transition: 1s;
}

.botoes a:hover {
  transform: translateY(-5px);
}

.branco {
  background-color: white;
  color: #000;
}

.transparente {
  color: #fff;
}

/* Projetos */

.projetos {
  height: 100vh;
  background-color: #e5e0df;
  padding-top: 2%;
  transition: 1s;
}

#Projetos {
  opacity: 0;
  transform: translateX(-200%);
  transition: opacity 3s ease, transform 3s ease;
}

#Projetos.mostrar {
  opacity: 1;
  transform: translateX(0%);
}

.titulo_projetos {
  text-align: center;
  font-size: 50px;
  color: black;
  font-weight: 200;
}

.cards_projetos {
  width: 100%;
  height: 80%;
  padding: 40px;
  justify-content: space-around;
  display: flex;
}

.card {
  width: 30%;
  height: 70%;
  background-color: #e5e0df;
  color: #000;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.card img {
  display: block;
  width: 80%;
  height: 100%;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  filter: brightness(30%);
}

.titulo_projetos {
  font-size: 35px;
  color: black;
  text-align: center;
}

.texto_projetos {
  font-size: 18px;
  font-weight: 250;
  text-align: center;
  margin-bottom: 15px;
}

.titulo_card {
  font-size: 25px;
  color: black;
  font-weight: 200;
  text-align: center;
}

.botao_projetos {
  text-align: center;
  display: block;
  color: #000;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  padding: 15px;
  border-radius: 15px;
  border: solid 1px rgba(0, 0, 0, 0.651);
  width: 40%;
  transition: 1s;
}

.botao_projetos:hover {
  transform: translateY(-5px);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* Sobre mim */

.sobre {
  height: 65vh;
  background-color: #000;
  padding-top: 2%;
}

.titulo_sobre {
  text-align: center;
  font-size: 35px;
  color: white;
  font-weight: 200;
}

.cards_sobre {
  display: grid;
  grid-template-columns: 200px 200px;
  justify-content: space-around;
  align-items: center;
  margin-top: 2%;
  margin-right: 15%;
}

.card_sobre {
  color: #fff;
  margin-top: 15px;
  width: 250%;
  font-size: 18px;
  font-weight: 200;
  margin-bottom: 20px;
}

.card_sobre h2 {
  text-align: left;
  color: #e5e0df;
  font-size: 25px;
  font-weight: 200;
}

/* Contatos */

.contatos {
  height: 80vh;
  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container_contatos {
  background-color: #000;
  color: #e5e0df;
  padding: 40px;
  width: 80%;
  border-radius: 50px;
}

.container_contatos h2 {
  text-align: left;
  color: #e5e0df;
  font-size: 35px;
  font-weight: 200;
}

.container_contatos p {
  font-size: 18px;
  padding-top: 15px;
  font-weight: 200;
}

.container_contatos h2 {
  font-size: 30px;
  color: #e5e0df;
  font-weight: 200;
  padding-top: 20px;
}

.container_contatos ul li a {
  font-size: 18px;
  color: white;
  font-weight: 200;
  margin-left: 15px;
}

/* Experiências */

.experiencias {
  height: 100vh;
  background-color: #000;
  padding: 5%;
  display: flex;
}

.experiencias img {
  height: 80vh;
  border-radius: 20px;
}

.titulo_experiencias {
  text-align: center;
  font-size: 35px;
  color: white;
  font-weight: 200;
}

.cards_experiencias {
  display: block;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
  margin-top: 2%;
  margin-right: 15%;
}

.card_experiencias {
  color: #fff;
  margin-top: 10%;
  width: 100%;
  margin-left: 25%;
  font-size: 18px;
  font-weight: 200;
  margin-bottom: 20px;
}

.card_experiencias h2 {
  text-align: left;
  color: #e5e0df;
  font-size: 25px;
  font-weight: 200;
}

/* Habilidades */

.habilidades {
  height: 75vh;
  background-color: #000;
  padding-top: 2%;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.titulo_habilidades {
  text-align: center;
  font-size: 35px;
  color: white;
  font-weight: 200;
}

.cards_habilidades {
  display: grid;
  grid-template-columns: 35% 35%;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.card_habilidades {
  color: #fff;
  margin-top: 15px;
  font-size: 18px;
  padding: 20px;
  height: 25vh;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  font-weight: 200;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: #3d3d42;
}

.card_habilidades h2 {
  text-align: left;
  color: #e5e0df;
  font-size: 25px;
  font-weight: 200;
}

.card_habilidades p {
  font-size: 15px;
  font-weight: 200;
}

.rodape {
  height: 20vh;
  padding: 120px;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: #000;
}

.rodape ul {
  list-style: none;
  display: flex;
}

.rodape li a {
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: 200;
  transition: 1s;
  display: block;
}

.rodape li a:hover {
  transform: translateY(-5px);
}

/* Botão Voltar */

.forma_voltar {
  width: 0px;
  height: 0px;
  border-bottom: 20px solid;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 0px solid;
}

.topo:hover {
  color: #b4adab;
  transform: translateY(-5px);
}

.topo {
  background-color: #3d3d42;
  position: fixed;
  z-index: 3;
  right: 0;
  color: #919191;
  margin-right: 2%;
  padding: 20px;
  border-radius: 20px;
  bottom: 0;
  margin-bottom: 2%;
  text-decoration: none;
  transition: 1s;
  visibility: hidden;
  transform: translateX(20vh);
}

.topo.visible {
  visibility: visible;
  z-index: 1;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: 1s;
  transform: translateX(0%);
  z-index: 10;
}

/* Menu Mobile  */

.menu-lateral {
  position: fixed;
  top: 0;
  left: -200px;
  width: 200px;
  height: 100%;
  border-radius: 0px 20px 20px 0px;
  background-color: #00000096;
  backdrop-filter: blur(15px);
  transition: all 0.5s ease-in-out;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 1;
}

.menu-lateral ul {
  list-style: none;
}

.menu-lateral a,
li {
  margin-top: 40px;
  margin-left: 30px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.botao-menu {
  z-index: 50;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 1s;
  display: none;
}

.botao-menu img {
  margin-top: 10%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.menu-lateral.ativo {
  left: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.botao-menu.ativo {
  background-color: #ffffff85;
}

@media only screen and (max-width: 768px) {
  .botao-menu {
    display: block;
    top: 20;
    right: 50;
  }

  header {
    display: none;
  }

  .projetos {
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .cards_projetos {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: transparent;
  }

  .card {
    width: 100%;
  }
  .cards_projetos img {
    height: 30%;
  }

  .sobre {
    height: 100vh;
    background-color: #000;
    padding-top: 2%;
  }

  .titulo_sobre {
    text-align: center;
    font-size: 35px;
    color: white;
    font-weight: 200;
  }

  .cards_sobre {
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    right: 0%;
  }

  .card_sobre {
    color: #fff;
    margin-top: 15px;
    width: 80%;
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 20px;
  }

  .card_sobre h2 {
    text-align: left;
    color: #e5e0df;
    font-size: 25px;
    font-weight: 200;
  }

  .contatos {
    height: 80vh;
    padding: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container_contatos {
    background-color: transparent;
    color: #000000;
    width: 100%;
    border-radius: 50px;
  }

  .container_contatos h2 {
    text-align: left;
    color: #000000;
    font-size: 35px;
    font-weight: 300;
  }

  .container_contatos p {
    font-size: 18px;
    padding-top: 15px;
    font-weight: 200;
  }

  .container_contatos h2 {
    font-size: 30px;
    color: #000000;
    font-weight: 300;
    padding-top: 20px;
  }

  .container_contatos ul {
    list-style: none;
  }

  .container_contatos li {
    color: #000;
  }

  .container_contatos ul li a {
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-weight: 300;
    margin-left: 15px;
  }

  .experiencias {
    width: 100%;
    height: 100%;
  }

  .experiencias img {
    display: none;
  }

  .card_experiencias {
    margin-left: 0%;
  }

  .habilidades {
    width: 100%;
    height: 100%;
  }

  .cards_habilidades {
    display: flex;
    flex-direction: column;
  }

  footer {
    display: none;
  }
}
