@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono";
  font-weight: 400;
  color: white;
  background-color: #181818;
  text-decoration: none;

  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tituloSecoes {
  font-size: 1.6rem;
  color: #a5cfcf;
}

/* Navbar */

header {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
}

.linksNav {
  display: flex;
  gap: 2.4rem;
  list-style: none;
}

nav {
  width: 100%;
  height: 8vh;
  padding: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .menuNav {
    display: flex;
    gap: 2.4rem;
  }

  a {
    font-size: 1.5rem;
    color: #a5cfcf;
  }
}

/* Home */

.home {
  display: flex;
  flex-flow: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.4rem;
  }
}

/* Sobre */

.containerSobre {
  border: #183030 1px solid;
  border-radius: 0.7rem;
  width: 60%;
  height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10rem;
  gap: 3.8rem;

  .perfilSobre {
    width: 50%;
    height: 100%;
    border: #183030 1px solid;
    border-radius: 0.7rem;
  }
}

.sobreConteudo {
  display: flex;
  flex-flow: column;
  width: 100%;
  justify-content: center;
  height: 100%;
  gap: 1.2rem;

  h3 {
    font-size: 1.8rem;
    font-weight: 400;
    width: 60%;
    line-height: 2.8rem;
  }

  p {
    font-size: 1.6rem;
    text-align: justify;
    width: 100%;
    line-height: 3.5rem;
  }
}

.cartoesSobre {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  gap: 2.4rem;

  .card {
    gap: 1.2rem;
    align-items: center;
    justify-content: space-between;
  }

  img,
  h4 {
    display: inline;
    align-items: center;
    vertical-align: middle;
  }

  h4 {
    font-size: 1.4rem;
    text-align: center;
    color: #a5cfcf;
  }

  img {
    width: 4.5rem;
    padding: 0.7rem;
  }

  h5 {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 1366px) {
  .sobreConteudo {
    width: 100%;
    h3 {
      font-size: 1.6rem;
      width: 100%;
    }
    p {
      font-size: 1.4rem;
      line-height: 2.5rem;
    }

    img {
      width: 30%;
    }

    .card {
      gap: 0.5rem;
    }
    .screenIcon {
      width: 25%;
    }
  }
}

/* Carreira */

.containerCarreira {
  border: #183030 1px solid;
  border-radius: 0.7rem;
  width: 60%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10rem;
  gap: 3.8rem;
}

.conteudoCarreira {
  display: flex;
  flex-flow: column;
  gap: 2.4rem;
}

.cardCarreira {
  width: 100%;
  height: 10vh;
  border-bottom: #183030 1px solid;
  line-height: 3rem;
  h3 {
    font-size: 1.6rem;
  }

  h4,
  p {
    font-size: 1.4rem;
    color: #a5cfcf;
  }
}

@media screen and (max-width: 1366px) {
  .containerCarreira {
    padding: 5rem;
  }
}

/* Ptojetos */

.projetos {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.cartoesProjetos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 60%;

  .card {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    border: #183030 solid 1px;
    padding: 1.6rem;
    border-radius: 0.7rem;
    width: 25rem;
    gap: 2rem;
    height: 30rem;
    line-height: 2.5rem;
    transition: 0.7s;

    &:hover {
      transform: translateY(-5px);
    }

    img {
      width: 25%;
      margin: auto auto;
    }

    p {
      font-size: 1.4rem;
      text-align: justify;
      width: 100%;
      line-height: 3rem;
    }
  }
}

@media screen and (max-width: 1366px) {
  .cartoesProjetos {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.2rem;
    .card {
      width: 22rem;
    }
  }
}
/* Social */

.social {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.containerSocial {
  border: #183030 1px solid;
  border-radius: 0.7rem;
  width: 60%;
  height: 60vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 10rem;
  gap: 3.8rem;
}

.cartoesSocial {
  display: flex;
  gap: 2.4rem;

  .card {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
    font-size: 1.4rem;
    margin: 1rem;
    text-align: center;
    transition: 0.7s;

    &:hover img {
      transition: 0.7s;
      transform: translateY(-5px);
    }

    img {
      width: 5rem;
      margin: auto auto;
      padding: 0.7rem;
      border: #183030 solid 1px;
      border-radius: 50%;
    }
  }
}

/* Menu Hamburguer */

.menuBotao {
  display: none;
}

.linksNavMobile {
  display: none;
}

.linksNavMobile.active {
  display: block;
  z-index: 2;
}

/* Responsivo */

@media screen and (max-width: 768px) {
  /* Menu Hamburguer */
  .linksNav {
    display: none;
  }

  .menuBotao {
    font-size: 2.4rem;
    display: block;
    background-color: transparent;
    border: 0px solid;
    color: white;
  }

  .linksNavMobile.active {
    display: flex;
    flex-flow: column;
    gap: 2.4rem;
    top: 8rem;
    text-align: center;
    padding: 0.8rem;
    border-radius: 1rem;
    width: 70%;
    z-index: 1;
    position: fixed;

    a {
      font-size: 1.8rem;
    }
  }

  /* Sobre */
  .containerSobre {
    width: 90%;
    height: auto;
    border: none;
    padding: 1.8rem;

    .perfilSobre {
      display: none;
    }

    .sobreConteudo {
      width: 100%;
    }

    .screenIcon {
      width: 3.5rem;
    }
  }

  /* Carreira */

  .containerCarreira{
    width: 90%;
    height: auto;
    flex-flow: column;
    gap: 1.2rem;
  }

  /* Projetos */

  .cartoesProjetos{
    width: 80%;
    align-items: center;
    height: auto;
    gap: 1.2rem;
    justify-content: center;

    .card{
      width: 80%;
      margin: auto auto;
    }
  }

  /* Social */

  .containerSocial{
    width: 90%;
    height: auto;
  }
}
